/* App.css */
body {
  font-family: sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #444;
}

h1 {
  color: #3a3a3a;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #22df5e;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.counter-container {
  padding: 10px;
}

.counter {
  font-size: 4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  .counter {
    font-size: 2.5rem;
  }

  div {
    width: 90%;
  }
}
